<h1 align="center">An Introduction to Machine Learning - 25737</h1>
<h4 align="center">Dr. Sajjad Amini</h4>
<h4 align="center">Sharif University of Technology, Spring 2023</h4>

# Problem Set 01

Welcome to your first assignment. This exercise gives you a brief introduction to Python.

STUDENT NAME:
Amirmohammad Marshalpirgheybi
STUDENT ID:
98109815

## About iPython Notebooks ##

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the upper bar of the notebook. 

**Exercise**: Set test to `"Hello World"` in the cell below to print "Hello World" and run the two cells below.

In [20]:
### START CODE HERE ###
test = "Hello World"
print(test)
### END CODE HERE ###

Hello World

<font color='blue'>
**What you need to remember**:
- Run your cells using SHIFT+ENTER (or "Run cell")
- Write code in the designated areas using Python 3 only
- Do not modify the code outside of the designated areas

# 1.
>What are the lengths of the following lists and strings below? Fill in the variable `lengths` with your predictions. (Try to make a prediction for each list *without* just calling `len()` on it.)

In [21]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]
e = 'it\'s ok'
f = ""
g = """hey"""
h = '\n'

# Put your predictions in the list below. Lengths should contain 8 numbers, the
# first being the length of a, the second being the length of b and so on.
### START CODE HERE ###
lengths = [3, 2, 0, 2, 7, 0, 3, 1]
print(lengths)
### END CODE HERE ###

[3, 2, 0, 2, 7, 0, 3, 1]

# 2. 
>Swap the values to which a and b refer.

In [22]:
a = [1, 2, 3]
b = [3, 2, 1]

### START CODE HERE ###
c = a.copy()
a = b.copy()
b = c
print(a)
print(b)
### END CODE HERE ###

[3, 2, 1]
[1, 2, 3]

# 3. 
>Which of the two variables below has the smallest absolute value? Use Python's built-in functions.

In [24]:
x = -10
y = 5

### START CODE HERE ###
smallest_abs = min(abs(x), abs(y))
if(abs(x) == smallest_abs):
    print("x has the smallest absolute value!")
else:
    print("y has the smallest absolute value!")
    
### END CODE HERE ###

y has the smallest absolute value!

# 4. 

> A simple exercise! Run the cell below and try to explain the results for yourself:

In [35]:
print( 1.0 + 1.0 - 1.0 )
print( 1.0 + 1.0e20 - 1.0e20 )
print( 1.0e20 - 1.0e20 + 1 )

1.0
0.0
1.0

# Answer:
 
> The first one is pretty clear. The result is what we expected from 1+1-1 = 1. For the second one, since the first operation would be 1+1e20 and since the number are kept with specified precision, hence the result would be saved as 1e20 and then by the following subtraction, the result would be zero. Now, for the third one, since the first operation would be 1e20-1e20, the result would be 0 and then by addition of 1, the final answer would be 1.

# 5.
>Many programming languages have [`sign`](https://en.wikipedia.org/wiki/Sign_function) available as a built-in function. Python doesn't, but we can define our own! 
In the cell below, define a function called `sign` which takes a numerical argument and returns -1 if it's negative, 1 if it's positive, and 0 if it's 0.

In [39]:
def sign(x):
    # ("pass" is a keyword that does literally nothing. We used it as a placeholder
    # because after we begin a code block, Python requires at least one line of code)
    ### START CODE HERE ###
    if(x > 0):
        return 1
    elif(x == 0):
        return 0
    else:
        return -1
    ### END CODE HERE ###
    pass

# You can try different examples to check your function:
print(sign(2))
print(sign(-2))
print(sign(0))

1
-1
0

# 6. 
>Complete the body of the following function according to its docstring.

HINT: Python has a built-in function `round`.

In [46]:
def round_to_two_places(num):
    """Return the given number rounded to two decimal places. 
    
    >>> round_to_two_places(3.14159)
    3.14
    """
    ### START CODE HERE ###
    return round(num, 2)
    ### END CODE HERE ###
    pass

round_to_two_places(9.9999)

10.0

The help for `round` says that `ndigits` (the second argument) may be negative.
What do you think will happen when it is? Try an example in the cell below.

In [47]:
round(232.4243, -2)

200.0

> It round the number up to the nearest 100. As you can see from above, the result is 200.

# 7.
> Write a function that evaluates the polynomial $${3x^2 âˆ’ x + 2}$$

In [48]:
def polynomial(x):
    ### START CODE HERE ###
    return 3*x**2-x+2
    ### END CODE HERE ###
    pass

# 8.
>Complete the function below according to its docstring.

In [49]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    ### START CODE HERE ###
    if(len(L) >= 2):
        return L[1]
    else:
        return None
    ### END CODE HERE ###
    pass

# 9.
>We're using lists to record people who attended a class and what order they arrived in. For example, the following list represents a class with 7 students, in which 'Amirhossein' showed up first and 'Pedram' was the last to arrive:
    
> class_attendees = ['Amirhossein', 'Hadi', 'Fatemeh', 'Mahtab', 'Ali', 'Nasim', 'Pedram']

> A student is considered 'fashionably late' if they arrived after at least half of the class's students. However, they must not be the very last student (that's taking it too far). In the above example, Ali and Nasim are the only students who were fashionably late.
Complete the function below which takes a list of class attendees as well as a person, and tells us whether that person is fashionably late.

In [23]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the class and a name, return whether the student with that
    name was fashionably late.
    """
    ### START CODE HERE ###
    idx = arrivals.index(name)
    if((idx+1) > round(len(arrivals)/2) and (idx+1) != len(arrivals)):
        return True
    else:
        return False
    ### END CODE HERE ###
    pass

In [24]:
class_attendees = ['Amirhossein', 'Hadi', 'Fatemeh', 'Mahtab', 'Ali', 'Nasim', 'Pedram']
fashionably_late(class_attendees,'Nasim')

True

# 10.
>Complete the function below according to its docstring.

In [27]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    ### START CODE HERE ###
    for i in range(len(nums)):
        if(nums[i] % 7 == 0):
            return True;
    return False
    
    ### END CODE HERE ###
    pass

In [32]:
list = [1,2,3,2,1,14,2]
has_lucky_number(list)

True

# 11.

>Complete the body of the function below according to its docstring.

In [33]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    ### START CODE HERE ###
    for i in range(len(meals)-1):
        if(meals[i] == meals[i+1]):
            return True
    return False
    ### END CODE HERE ###
    pass

In [36]:
meals = ['Ghrome', 'Pizza' , 'Pizza' , 'Sushi']
menu_is_boring(meals)

True

# 12.

> There is a saying that "Data scientists spend 80% of their time cleaning data, and 20% of their time complaining about cleaning data." Let's see if you can write a function to help clean US zip code data. Given a string, it should return whether or not that string represents a valid zip code. For our purposes, a valid zip code is any string consisting of exactly 5 digits.

HINT: `str` has a method that will be useful here. Use `help(str)` to review a list of string methods.

In [60]:
import re
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    ### START CODE HERE ###
    if(len(re.findall('[0-9]', zip_code)) == 5):
        return True
    else:
        return False
        
    ### END CODE HERE ###
    pass

In [65]:
str = '1234_ dfavcew 5'
is_valid_zip(str)

True

# 13.
>Write a function my_max(x,y) that returns the maximum of x and y. 

>Do not use the max function, but use if instead in following two ways:

>> (a) Use both if and else.

>> (b) Use if but not else (nor elif).

In [48]:
def my_max_a(x,y):
    ### START CODE HERE ###
    if(x > y):
        return x
    else:
        return y
    ### END CODE HERE ###
    pass

In [53]:
def my_max_b(x,y):
    ### START CODE HERE ###
    if(x > y):
        return x
    return y
    ### END CODE HERE ###
    pass

In [57]:
x = 8
y = 10
my_max_b(x,y)

10

# 14.  

> Let i,j = 1,...,n

>>(a) Generate a list with elements [i,j].

>>(b) Generate a list with elements [i,j] with i < j

>>(c) Generate a list with elements i + j with both i and j prime and i > j

Use List comprehensions

In [85]:
n = 5
list_1 = []
list_2 = []
list_3 = []
# a)
### START CODE HERE ###
for  i in range(1,n+1):
    for j in range(1,n+1):
        list_1.append([i,j])
### END CODE HERE ###


# b)
### START CODE HERE ###
for  i in range(1,n+1):
    for j in range(1,n+1):
        if(i < j):
            list_2.append([i,j])
### END CODE HERE ###


# c)
### START CODE HERE ###
for  i in range(1,n+1):
    for j in range(1,n+1):
        if(i > j and sympy.isprime(i) and sympy.isprime(j)):
            list_3.append(i+j)
### END CODE HERE ###

In [88]:
list_3

[5, 7, 8]

# 15. 

>Complete the body of the function below according to its docstring.

In [90]:
def my_func():
    """Write a function which will return a list contains all such numbers which are divisible by 7 but are not a multiple
    of 5, between 2000 and 3200 (both included).
    """
    ### START CODE HERE ###
    out  = []
    for i in range(2000,3200+1):
        if(i % 7 == 0 and i % 5 != 0):
            out.append(i)
    return out
    ### END CODE HERE ###
    pass

In [92]:
my_func()

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

# 16.

>Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:

        hello world! 123
>Then, the output should be:

>>LETTERS 10

>>DIGITS 3

In [95]:
### START CODE HERE ###
import re
string = input("Enter a sentence: ")
digits = re.findall('[0-9]',string)
letters = re.findall('[a-zA-Z]',string)
print(f'LETTERS {len(letters)}\n')
print(f'DIGITS {len(digits)}\n')

### END CODE HERE ###

Enter a sentence: hello world! 123
LETTERS 10

DIGITS 3

# 17.
Write a function to sort a list of tuples (name, age, height) by ascending order
where name is string, age and height are numbers. The sort
criteria is:

* 1: Sort based on name;
* 2: Then sort based on age;
* 3: Then sort by score.

The priority is that name > age > score.
If the following list is given as input to the function:
>[('Taha',19,80), ('Farhad',20,90), ('Farrokh',17,91), ('Farrokh',17,93), ('Fatemeh',21,85)]

Then, the output of the program should be:
>[('Farhad', '20', '90'), ('Farrokh', '17', '91'), ('Farrokh', '17', '93'), ('Fatemeh', '21', '85'), ('Taha', '19', '80')]

In [126]:
def sortTuple(inputList):
    ### START CODE HERE ###   
    return sorted(inputList)
    ### END CODE HERE ###
    pass

In [127]:
list = [('Farhad', '20', '90'), ('Farrokh', '17', '91'), ('Farrokh', '17', '93'), ('Fatemeh', '21', '85'), ('Taha', '19', '80')]
sortTuple(list)

[('Farhad', '20', '90'),
 ('Farrokh', '17', '91'),
 ('Farrokh', '17', '93'),
 ('Fatemeh', '21', '85'),
 ('Taha', '19', '80')]